<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <unity>
    <containers>
      <container name="objects">
        <register type="Shop.Infrastructure.Logger.Contracts.ILogger, Shop.Infrastructure.Logger.Contracts" mapTo="Shop.Infrastructure.Logger.Logger, Shop.Infrastructure.Logger" />
      </container>
    </containers>
  </unity>

  <log4net configSource="loggerTest.config"/>
    
</configuration>
    
  
