<unity>
  <containers>
    <container name="objects">
      <register type="Shop.DataAccess.ContextFactory.Contracts.IContextFactory, Shop.DataAccess.ContextFactory.Contracts" mapTo="Shop.DataAccess.ContextFactory.ContextFactory, Shop.DataAccess.ContextFactory" />
      <register type="Shop.Business.Data.Contracts.IUserBusiness, Shop.Business.Data.Contracts" mapTo="Shop.Business.Data.UserBusiness, Shop.Business.Data" />
    </container>

    <container name="services">
      
    </container>

    <container name="repositories">
      <register type="Shop.Business.Repository.Contracts.IUserRepository, Shop.Business.Repository.Contracts" mapTo="Shop.Business.Repository.UserRepository, Shop.Business.Repository" />
    </container>

    <container name="managers">
      
    </container>
    
  </containers>
</unity>