  <unity>
    <containers>
      <container name="objects">
        <register type="Shop.Infrastructure.Logger.Contracts.ILogger, Shop.Infrastructure.Logger.Contracts" mapTo="Shop.Infrastructure.Logger.Logger, Shop.Infrastructure.Logger" />
      </container>

      <container name="repositories">
      </container>

      <container name="managers">
      </container>
    </containers>
  </unity>