<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="objects">
        <register type="Shop.Infrastructure.Logger.Contracts.ILogger, Shop.Infrastructure.Logger.Contracts" mapTo="Shop.Infrastructure.Logger.Logger, Shop.Infrastructure.Logger" />
        <register type="Shop.Infrastructure.Factory.Tests.ITestObject, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestObject, Shop.Infrastructure.Factory.Tests" />
      </container>

      <container name="repositories">
        <register type="Shop.Infrastructure.Factory.Tests.ITestRepository, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestRepository, Shop.Infrastructure.Factory.Tests" />
      </container>

      <container name="managers">
        <register type="Shop.Infrastructure.Factory.Tests.ITestManager, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestManager, Shop.Infrastructure.Factory.Tests" />
      </container>
    </containers>
  </unity>
</configuration>