<unity>
  <containers>
    <container name="objects">
      <register type="Shop.DataAccess.Database.Contracts.ILog, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.ContextFactory.Tests.Log, Shop.DataAccess.ContextFactory.Tests" />
      <register type="Shop.DataAccess.ContextFactory.Contracts.IContextFactory, Shop.DataAccess.ContextFactory.Contracts" mapTo="Shop.DataAccess.ContextFactory.Tests.ContextFactory, Shop.DataAccess.ContextFactory.Tests" />
    </container>

    <container name="repositories">

    </container>

    <container name="managers">

    </container>
  </containers>
</unity>