<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shop.DataAccess.Database.Properties.Settings.ShopDevConnectionString"
            connectionString="Data Source=CAESAR;Initial Catalog=ShopDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Shop.DataAccess.Database.Properties.Settings.ShopTestConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ShopTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Shop.DataAccess.Database.Properties.Settings.ShopDevConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=ShopDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>