<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Shop.Business\Shop.Business.Data.Contracts\packages.config" />
  <repository path="..\src\Shop.Business\Shop.Business.Data\packages.config" />
  <repository path="..\src\Shop.Business\Shop.Business.Repository.Contracts\packages.config" />
  <repository path="..\src\Shop.Business\Shop.Business.Repository\packages.config" />
  <repository path="..\src\Shop.Business\Shop.Business.Service.Contracts\packages.config" />
  <repository path="..\src\Shop.Business\Shop.Business.Service\packages.config" />
  <repository path="..\src\Shop.DataAccess\Shop.DataAccess.ContextFactory.Contracts\packages.config" />
  <repository path="..\src\Shop.DataAccess\Shop.DataAccess.ContextFactory\packages.config" />
  <repository path="..\src\Shop.DataAccess\Shop.DataAccess.Database.Contracts\packages.config" />
  <repository path="..\src\Shop.DataAccess\Shop.DataAccess.Database\packages.config" />
  <repository path="..\src\Shop.Infrastructure\Shop.Infrastructure.Factory\packages.config" />
  <repository path="..\src\Shop.Infrastructure\Shop.Infrastructure.Logger\packages.config" />
  <repository path="..\src\Shop.Service\Shop.Service.Manager.Contracts\packages.config" />
  <repository path="..\src\Shop.Service\Shop.Service.Manager\packages.config" />
  <repository path="..\src\Shop.UI\Shop.UI.Admin\packages.config" />
  <repository path="..\src\Shop.UI\Shop.UI.Public\packages.config" />
</repositories>