<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <connectionStrings>
    <add name="Shop.DataAccess.Database.Tests.Properties.Settings.ShopTestConnectionString"
      connectionString="Data Source=CAESAR;Initial Catalog=ShopTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity configSource="unityTest.config"/>

</configuration>