<unity>
  <containers>
    <container name="objects">
      <register type="Shop.DataAccess.Database.Contracts.IAddress, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Address, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IBanner, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Banner, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IBannersImage, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.BannersImage, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IBrand, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Brand, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.ICategory, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Category, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.ICity, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.City, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IFeedback, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Feedback, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IImage, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Image, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.ILegalPerson, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.LegalPerson, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.ILog, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Log, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IOrder, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Order, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IOrderLine, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.OrderLine, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IOrdersStatus, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.OrdersStatus, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IPerson, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Person, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IProduct, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Product, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IProductsCategory, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.ProductsCategory, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IProductsImage, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.ProductsImage, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IProductsSupplier, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.ProductsSupplier, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IRegion, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Region, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IStorageRecord, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.StorageRecord, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.ISupplier, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.Supplier, Shop.DataAccess.Database.Tests" />
      <register type="Shop.DataAccess.Database.Contracts.IUser, Shop.DataAccess.Database.Contracts" mapTo="Shop.DataAccess.Database.Tests.User, Shop.DataAccess.Database.Tests" />
    </container>

    <container name="repositories">
      
    </container>

    <container name="managers">
      
    </container>
  </containers>
</unity>