<unity>
  <containers>
    <container name="objects">
      <register type="Shop.Infrastructure.Factory.Tests.ITestComponent, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestComponent, Shop.Infrastructure.Factory.Tests" />
    </container>

    <container name="repositories">
      <register type="Shop.Infrastructure.Factory.Tests.ITestRepository, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestRepository, Shop.Infrastructure.Factory.Tests" />
    </container>

    <container name="services">
      <register type="Shop.Infrastructure.Factory.Tests.ITestService, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestService, Shop.Infrastructure.Factory.Tests" />
    </container>
      
    <container name="managers">
      <register type="Shop.Infrastructure.Factory.Tests.ITestManager, Shop.Infrastructure.Factory.Tests" mapTo="Shop.Infrastructure.Factory.Tests.TestManager, Shop.Infrastructure.Factory.Tests" />
    </container>
  </containers>
</unity>
